.page.about .page-wrapper.flex-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  width: 90%;
  margin: 0 auto;
}

.page.about .page-wrapper.flex-wrapper strong {
  font-weight: 500;
  color: #222;
}

@media (max-width: 960px) {
  .page.about .page-wrapper.flex-wrapper {
    flex-wrap: wrap;
  }
}
