.page.about .main-container {
  width: calc(60% - 15px);
  max-width: 720px;
  /* margin-left: 70px; */
  margin-bottom: 100px;
}

.page.about .main-container img {
  width: 100%;
}

.page.about .main-container .text {
  margin-top: 25px;
  font-family: 'open sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  color: #666;
}

.page.about .main-container .sub-header-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  align-items: center;
}

.page.about .main-container .sub-header-wrapper .location {
  font-size: 17px;
  font-weight: 500;
}

.page.about .main-container .sub-header-wrapper a {
  color: #222;
  transition: all 0.2s;
  opacity: 1;
  padding-left: 15px;
}

.page.about .main-container .sub-header-wrapper a:hover {
  opacity: 0.6;
}

.page.about .main-container .sub-header-wrapper i {
  margin: 0 5px;
  font-size: 1.1em;
}

@media (max-width: 960px) {
  .page.about .main-container {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: none;
  }
}

@media (max-width: 500px) {
  .page.about .main-container .sub-header-wrapper {
    flex-wrap: wrap;
  }

  .page.about .main-container .sub-header-wrapper .location {
    font-size: 16px;
    width: 100%;
    margin-bottom: 15px;
  }

  .page.about .main-container .sub-header-wrapper a {
    padding-right: 20px;
    padding-left: 0;
  }

  .page.about .main-container .text {
    font-size: 16px;
  }
}
