.slider-controls {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.slider-controls .slider-line {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  position: relative;
}

.slider-controls .controller-wrapper {
  width: 140px;
  height: auto;
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translateX(-45px);
  z-index: 20;
}

.slider-controls .controller {
  width: 100%;
  height: 100%;
  background-color: #fff;
  cursor: grab;
  transition: transform 0.2s;
}

.slider-controls .controller .current-project {
  color: #111;
  width: 100%;
  text-align: center;
  margin-bottom: 3px;
  display: flex;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.slider-controls .controller .current-project:before {
  content: '';
  display: inline-block;
  background-image: url('../../../images/controller-arrow.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 10px;
  height: 14px;
  margin-right: 25px;
  transition: all 0.2s;
  transform: rotate(180deg) translateX(0px);
}

.slider-controls .controller .current-project:after {
  content: '';
  display: inline-block;
  background-image: url('../../../images/controller-arrow.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 10px;
  height: 14px;
  margin-left: 25px;
  transition: all 0.2s;
}

.slider-controls .controller:hover .current-project:before {
  transform: rotate(180deg) translateX(4px);
}

.slider-controls .controller:hover .current-project:after {
  transform: translateX(4px);
}

/*.slider-controls .controller:active .current-project:before {
	transform: rotate(180deg) translateX(4px) scale(1.2);
}

.slider-controls .controller:active .current-project:after {
	transform: translateX(4px) scale(1.2);	
}
*/

.slider-controls .controller:active .current-project {
  transform: scale(0.85);
  transform-origin: center;
  color: #ccc;
  opacity: 0.7;
}

.instructions {
  color: #9c9c9c;
  font-size: 8px;
  font-weight: 500;
  text-align: center;
}

/*.slider-controls .controller:hover {
	transform: scale(1.2);
}*/

.slider-controls .controller:active {
  cursor: grabbing;
}

.slider-controls .numbers-container {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-controls .numbers-container .number {
  width: 50px;
  background-color: #fff;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #e2e2e2;
  cursor: pointer;
  transition: color 0.2s;
}

.slider-controls .numbers-container .number:hover {
  color: #444;
}

@media (max-width: 768px) {
  .slider-controls {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
  }

  .slider-controls .controller .current-project:before {
    margin-right: 14px;
  }

  .slider-controls .controller .current-project:after {
    margin-left: 14px;
  }
}
