.startup {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 45px;
}

.startup .icon-container {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.startup .icon-container img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.startup .text-container {
  width: calc(100% - 75px);
}

.startup .text-container .desc {
  font-size: 14px;
}

.startup .text-container .title {
  margin-bottom: 5px;
  font-weight: 600;
}

@media (max-width: 500px) {
  .startup {
    margin-bottom: 60px;
  }
}
