.about-sidebar {
  width: calc(40% - 15px);
  max-width: 380px;
}

@media (max-width: 960px) {
  .about-sidebar {
    width: 100%;
    max-width: none;
  }
}

@media (max-width: 500px) {
  .about-sidebar h2 {
    font-size: 21px;
  }
}
