.none {
  display: none;
}

.static-container {
  /* width: 100%; */
  max-width: 1200px;
  /* height: 100vh; */
  position: absolute;
  /* position: fixed; */
  left: calc(50% - 600px);
  bottom: 0px;
  z-index: 200;
  /* display: none; */
}

.sidebar {
  height: 100%;
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  width: 30px;
}

.main-page.scrollable .sidebar {
  visibility: hidden;
  opacity: 0;
}

.sidebar a {
  display: block;
  width: 100%;
  margin: 6px 0;
  padding: 6px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.sidebar a:hover {
  opacity: 0.6;
}

.sidebar a img {
  width: 15px;
  object-fit: contain;
  object-position: center;
}

.sidebar a:first-of-type img {
  width: 13px;
}

.sidebar .divider {
  width: 1px;
  height: 30px;
  background-color: #444;
  margin: 10px 0;
  margin-bottom: 135px;
}

.sidebar .chat-btn {
  position: absolute;
  bottom: 42px;
  left: -44px;
  box-sizing: border-box;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  height: 40px;
  width: 117px;
  font-size: 14px;
  cursor: pointer;
  overflow: hidden;
  font-weight: 500;
  /*box-shadow: inset 0 0 0 1px #ddd;*/
  transition: all 0.2s;
}

.sidebar .chat-btn:after,
.sidebar .chat-btn:before {
  box-sizing: inherit;
  content: '';
  position: absolute;
  border: 1px solid transparent;
  width: 0;
  height: 0;
}

.sidebar .chat-btn:before {
  top: 0;
  left: 0;
}

.sidebar .chat-btn:after {
  bottom: 0;
  right: 0;
}

.sidebar .chat-btn:hover:before,
.sidebar .chat-btn:hover:after {
  width: 100%;
  height: 100%;
}

/* .sidebar .chat-btn:hover:before {
  border-top-color: #888;
  border-right-color: #888;
  transition: width 0.1s ease-out, height 0.1s ease-out 0.1s;
}

.sidebar .chat-btn:hover:after {
  border-bottom-color: #888;
  border-left-color: #888;
  transition: border-color 0s ease-out 0.2s, width 0.1s ease-out 0.2s,
    height 0.1s ease-out 0.3s;
} */

.sidebar .chat-btn .btn-text {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  transition: all 0.2s;
  color: #222;
}

.sidebar .chat-btn .btn-text:after,
.sidebar .chat-btn .btn-text:before {
  content: "Let's Chat";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
  transition: all 0.2s;
  transform: translateY(-100%);
}

.sidebar .chat-btn .btn-text:after {
  transform: translateY(-100%);
}

.sidebar .chat-btn .btn-text:before {
  transform: translateY(0%);
}

.sidebar .chat-btn:hover {
  transition-delay: 0.14s;
}

.sidebar .chat-btn:hover .btn-text:after {
  transition-delay: 0.14s;
  transform: translateY(0%);
}

.sidebar .chat-btn:hover .btn-text:before {
  transform: translateY(100%);
}