.home.page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home.page .content-container {
  max-width: 790px;
  margin-top: -50px;
}

.home.page .content-container .header-text {
  position: relative;
}

.home.page .content-container h1 {
  margin: 0;
  padding: 0;
  font-size: 36px;
  /*opacity: 1;*/
}

.home.page .content-container .overlay {
  width: 100%;
  height: 100%;
  background-color: #222;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  transform-origin: left;
  /*display: none;*/
}

.home.page .content-container h2 {
  padding: 0;
  font-size: 19px;
  max-width: 700px;
  letter-spacing: -0.41px;
  line-height: 29px;
  margin-bottom: 40px;
  margin-top: 15px;
  font-weight: 300;
  color: #161616;
}

.home.page .content-container h2 span {
  display: inline-block;
}

.home.page .content-container a {
  text-decoration: none;
  color: #222;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
}

.home.page .content-container a:after {
  display: inline-block;
  content: '';
  background-image: url('../../images/home-arrow.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 12px;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .home.page .content-container h1 {
    font-size: 26px;
  }

  .home.page .content-container h2 {
    font-size: 16px;
  }

  .home.page .content-container {
    width: 90%;
  }
}

@media (max-width: 604px) {
  .home.page .content-container h2 span {
    display: inline;
  }
}

@media (max-width: 430px) {
  .home.page .content-container h1 {
    font-size: 22px;
  }

  .home.page .content-container h2 {
    font-size: 15px;
  }
}
