.login-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page .content-container h1 {
  font-size: 42px;
  text-align: center;
  margin-bottom: 10px;
}

.login-page .content-container .tagline {
  font-size: 21px;
  margin-bottom: 25px;
  text-align: center;
}

.login-page .content-container form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.login-page .content-container form input {
  width: 80%;
  margin-bottom: 25px;
  font-size: 18px;
  text-indent: 10px;
  border: 1px solid #ccc;
  color: #222;
  border-radius: 4px;
  font-family: 'roboto';
  height: 40px;
  outline: none;
}

.login-page .content-container form input::placeholder {
  color: #222;
  opacity: 0.4;
}

.login-page .content-container form .input-button {
  background-color: rgb(36, 36, 36);
  opacity: 1;
  border: none;
  line-height: 40px;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  width: calc(80% + 4px);
}
