.transition-wrapper .page.work {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transition-wrapper .page.work .slider-wrapper {
  max-width: 1200px;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}
