.slide {
  width: 100%;
  height: 100%;
  padding: 0 50px;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.slider .slide-wrapper.moving .slide {
  transform: scale(0.9);
}

.slider .slide-wrapper .slide.not-current {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.slider .slide-wrapper.moving .slide.not-current {
  opacity: 1;
  visibility: visible;
}

.slide .content-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  white-space: normal;
}

.slide .content-container .left-col {
  width: calc(40% - 10px);
  position: relative;
}

.slide .content-container .left-col .count-container {
  display: inline-block;
  overflow: hidden;
  position: absolute;
  top: -58px;
  left: 10px;
  margin-left: -40px;
}

.slide .content-container .left-col .slide-count {
  font-size: 92px;
  font-weight: 600;
  color: #dadada;
  z-index: 0;
}

.slide .content-container .left-col .text-container {
  margin-left: 30px;
  z-index: 2;
  position: relative;
}

.slide .content-container .left-col .title-container {
  position: relative;
  display: inline-block;
}

.slide .content-container .left-col h3 {
  font-size: 36px;
  color: #222;
  margin: 0;
  font-weight: 500;
  padding: 0;
  display: inline-block;
}

.slide .content-container .left-col span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background-color: #222;
  transform-origin: left;
  transform: scaleX(0);
}

.slide .content-container .left-col h4 {
  font-size: 16px;
  font-family: 'open sans';
  font-weight: 300;
  max-width: 340px;
  color: rgb(58, 58, 58);
  margin: 0;
  padding: 0;
  margin-top: 10px;
  line-height: 26px;
}

.slide .content-container .left-col a {
  margin-top: 50px;
  text-decoration: none;
  color: #222;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.slide .content-container .left-col div.explore {
  color: #222;
  font-weight: 500;
  font-size: 16px;
  margin-top: 50px;
  font-style: italic;
}

.slide .content-container .left-col a:after {
  display: inline-block;
  content: '';
  background-image: url('../../../images/home-arrow.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 12px;
  margin-left: 10px;
  margin-top: 2px;
}

.slide .content-container .right-col {
  width: calc(60% - 10px);
  position: relative;
  height: 100%;
}

.slide .content-container .right-col .bg-img {
  width: 100%;
  max-width: 617px;
  position: relative;
  transform-origin: left;
  height: 319px;
}

.slide .content-container .right-col .bg-img .overlay {
  width: 100%;
  height: 100%;
  background-color: #222;
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  z-index: 200;
}

.slide .canvas {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

.slide .content-container .right-col .bg-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  object-position: center;
}

@keyframes hoverImg {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(6px, 9px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.slide .content-container .right-col .main-img {
  width: calc(100% - 60px);
  height: auto;
  position: absolute;
  bottom: -50px;
  z-index: 20;
  right: -20px;
  animation: hoverImg 8s ease-in-out infinite;
}

.slide .content-container .right-col .main-img.phone {
  bottom: -100px;
  width: calc(100% - 120px);
}

.slide .content-container .right-col .main-img img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  object-position: bottom;
}

@media (max-width: 1100px) {
  .slide {
    padding: 0;
  }
}

@media (max-width: 960px) {
  .slide .content-container .right-col .main-img.phone {
    width: calc(100% - 40px);
    bottom: -50px;
  }
}
