@keyframes hoverLink {
  0% {
    transform: scaleX(0);
  }

  50% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}

.navbar {
  width: 90%;
  height: 90px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a,
.navbar .center-col .contact-link {
  outline: none;
  text-decoration: none;
  color: #222;
  font-size: 14px;
  cursor: pointer;
}

.navbar .right-col,
.navbar .left-col,
.navbar .center-col {
  width: calc(100% / 3);
  transition: all 0.3s;
}

.navbar .left-col a {
  font-weight: 500;
  font-size: 16px;
}

.navbar .center-col {
  display: flex;
  justify-content: center;
}

.navbar .center-col a,
.navbar .center-col .contact-link {
  margin: 0 30px;
  position: relative;
  font-weight: 500;
}

.navbar .center-col a:before,
.navbar .center-col .contact-link:before {
  width: calc(100% + 10px);
  height: 2px;
  background-color: #222;
  position: absolute;
  top: 10px;
  left: -5px;
  content: '';
  transform: scaleX(0);
  transform-origin: left;
  transition: transform-origin 0s ease 0.25s;
}

.navbar .center-col a:hover:before,
.navbar .center-col .contact-link:hover:before {
  transform-origin: right;
  animation: hoverLink 0.5s ease;
}

.navbar .center-col a.active:hover:before,
.navbar .center-col .contact-link.active:hover:before {
  animation: none;
}

.navbar
  .center-col
  a.active:before
  .navbar
  .center-col
  .contact-link.active:before {
  transform-origin: left;
  transition: transform 0.2s;
  transform: scaleX(1);
}

.navbar .right-col a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
}

.navbar .right-col a img {
  width: 35px;
  height: auto;
  object-fit: contain;
  object-position: center;
}

.navbar .right-col a:before {
  display: inline-block;
  content: 'Coding Nomad';
  margin-right: 10px;
  margin-top: 6px;
}

.navbar .center-col .contact-link {
  display: none;
}

.navbar .mobile-container {
  display: none;
}

.navbar .hamburger {
  cursor: pointer;
  width: 35px;
  padding: 10px 0;
}

.navbar .hamburger .patty {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.navbar .hamburger .patty::after,
.navbar .hamburger .patty::before {
  height: 2px;
  background-color: #222;
  border-radius: 4px;
  display: block;
  transition: all 0.13s;
}

.navbar .hamburger .patty::after {
  width: 18px;
  content: '';
}

.navbar .hamburger .patty::before {
  width: 32px;
  content: '';
  margin-bottom: 5px;
}

.navbar .hamburger.active .patty::after {
  transform: rotate(45deg) translateY(-5px);
  width: 32px;
}

.navbar .hamburger.active .patty::before {
  transform: rotate(-45deg) translateY(5px);
}

.navbar .mobile-links {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  transform: translateY(-50px);
  position: absolute;
}

.nav-container.mobile-active .mobile-links {
  transform: translateY(0);
}

.nav-container {
  background: var(--pure-white);
  width: 100%;
  z-index: 10000;
  position: relative;
  transition: all 0.2s;
}

.nav-container.mobile-active .left-col {
  transform: translateY(50px);
  opacity: 0;
}

.navbar .mobile-links.active {
  transform: translateY(0);
}

.navbar .mobile-links .link-wrapper {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar .mobile-links .link-wrapper .link {
  display: block;
  font-size: 14px;
  padding-right: 10px;
  margin-right: 20px;
  opacity: 0;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .navbar .center-col .contact-link {
    display: block;
  }
}

@media (max-width: 768px) {
  .navbar .mobile-container {
    display: block;
  }

  .navbar .left-col {
    width: 50%;
  }

  .navbar .right-col,
  .navbar .center-col {
    display: none;
  }
}
